body {
  background: #ccc;
  padding: 0;
  margin: 0;
}


.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background: white;
}

.app-instance {
  position: relative;
  perspective: 800px;
}

.table2D {
  position: absolute;
  width: 100%;
  border-collapse: collapse;
  --saturation-pct: 50%;
}

.table2D__cell {
  min-height: 1rem;
  line-height: 1rem;
  outline: 1px solid hsl(231, 100%, 50%); /*hsl(231, 100%, var(--saturation-pct)); */
  background-color: rgba(255, 255, 255, 0.5);
}

